<div class="nav-bar p-2">
  <ul>

    <li class=""><a href="/"><i class="fa fa-home"></i>
        Главная
      </a></li>


    <li><a href="/target"><i class="fa fa-dollar"></i>Таргет</a></li>
    <li><a href="/posts"><i class="fa fa-pencil-square-o"></i>Посты</a></li>
    <li><a href="/chatbot"><i class="os-icon os-icon-robot-2"></i>Чатбот</a></li>

  </ul>
</div>

<script>

  $(".nav-bar ul li").each(function () {
    var currentUrl = window.location.pathname;
    var listItem = $(this);
    var listItemLink = listItem.find("a");
    var listItemHref = listItemLink.attr("href");

    if (currentUrl === listItemHref) {
      listItem.addClass("active");
    } else {
      listItem.removeClass("active");
    }
  });
</script>